$black-1: #000;
$black-2: #282828;
$white-1: rgba(255, 255, 255, 0.9);
$white-2: rgba(255, 255, 255, 0.8);
$white-3: #fff;
$white-4: rgba(255, 255, 255, 0.5);
$shadow-1: rgba(0, 0, 0, 0.25);
$shadow-2: rgba(0, 0, 0, 0.42);
$purple-1: rgba(117, 94, 204, 1);
$yellow-1: rgba(255, 170, 18, 0.72);
$yellow-2: #f0b700;
$yellow-3: #f8d258;
$orange-1: #fdc927;
$pink-1: rgba(255, 238, 225, 1);
$pink-2: #f00f55;
$pink-3: #ee3f6c;
$pink-4: rgba(249, 48, 101, 0);
$blue-1: #55a7f3;
$blue-2: #00acec;
$blue-3: #b6e7ff;
$green-1: #12ab0f;
$overlay: rgba(0, 0, 0, 0.4);
